body {
	background: #E8CBC0;
	color: #FFF;
	font-family: Calibri, Arial, sans-serif;
}

p {
	background: rgb(66, 13, 13);
	color: #FFF;
	margin: 0;
	padding: 1em;
	text-align: center;
}

h1{
	color:rgb(5, 11, 85)
}
h2{
	color:rgb(11, 59, 45)
}
h3{
	color:rgb(39, 56, 6)
}
h4{
	color:rgb(31, 8, 58)
}

img{
    width: 20%;
    height: auto;
  }

video{
    width: 20%;
    height: auto;
  }