/*Especificidad: 001*/
/*body {
    font-family: Georgia, serif;
    color: #000000;
    background-color: rgb(247, 225, 225);
    width: 100%;
    height: auto;
    }
  /*Especificidad: 001*/
  /*h1 {
    color: #000;    
    background-color:#8fc9e4;
    width: 100%;
    height: auto;
    }
  h2 {
    color: rgb(14, 2, 32);  
    background-color: rgb(247, 225, 225);  
    }
  h3 {
    color: rgb(15, 32, 2);  
    background-color: rgb(247, 225, 225); 
    }
  
  /*Lista*/
  /*ul { list-style: circle outside; }
  /*Tabla
  table { 
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    background-color:#042b3d; 
    caption-side: top;
    table-layout: fixed; 
    width: 100%;
    font-size: large;
    border-collapse: collapse; border-spacing: 40px;
  }

  tr, td, th{ border: 1px solid rgb(255, 247, 247);}*/

  video{
    width: 100%;
    height: auto;
  }

  img{
    width: 50%;
    height: auto;
  }