/*Especificidad: 001*/
body {
    font-family: Georgia, serif;
    color: #000000;
    background-color: rgb(247, 225, 225);
    width: 100%;
    height: auto;
    }
  /*Especificidad: 001*/
  h1 {
    color: #000;    
    background-color:#8fc9e4;
    text-align: center;
    }
  h2 {
    color: rgb(14, 2, 32);   
    }
  h3 {
    color: rgb(15, 32, 2);  
    }

  p{
    color: rgb(75, 6, 6);
    background-color: #E7E7E7;
    font-size: 2em;
    font-style: italic;
  }
  
  /*Encuesta*/
  form{
    padding: 3.75em;
    background-color: #E7E7E7;
    text-align: center;
  }
  
  form input,  form textarea {
    margin-bottom: 0.9375em;
    font-family: "Roboto", sans-serif;
    padding: 0.625em;
    box-sizing: border-box; 
    color: rgb(32, 11, 11); 
    font-size: 0.8em;
    resize: horizontal;
  }

  form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(44, 2, 2);
    font-size: 1em;
  }

  video{
    width: 100%;
    height: auto;
  }

  img{
    width: 25%;
    height: auto;
  }