/*Especificidad: 001*/
body {
    color: rgb(4, 49, 88);
    background-color: rgb(240, 194, 194);
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    }
  /*Especificidad: 001*/
  
  header{
    background-color: rgb(59, 26, 26);
    color: rgb(198, 218, 240);
  }
  
  /*Tabla*/
  /*Especificidad: 001*/
  table { 
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    width: 60%;
    height: auto;
    background-color:#99d5f1; 
    caption-side: top;
    font-size: large;
    text-align: center;
    border-collapse: collapse; 
    border-spacing: 2.5em;
  }

  /*Especificidad: 002*/
  footer p{
    text-align: center;
    color:black;
  }

  /*Especificidad: 001*/
  tr, td, th{ border: 0.0625em solid rgb(255, 247, 247);}

  /*Especificidad: 001*/
  img{
    width: 100%;
  }

  /*Especificidad: 002*/
  body>table{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  /*Especificidad: 002*/
  body>img{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
  }