  /*Especificidad: 001*/
  body {
    background-color: rgb(218, 218, 218);
    }
  /*Especificidad: 001*/
  h3 {
    color: rgb(14, 2, 32);
    text-align: center;  
    }
  /*Especificidad: 001*/
  h2{
    color: #3d1313
    }
  /*Especificidad: 001*/
  header{
    background-color: rgb(78, 53, 20);
    color: aliceblue;
  }
  
  /*Lista*/
  /*Especificidad: 001*/
  ul { list-style: circle outside; }

  /*Especificidad: 002*/
  body>section{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /*Especificidad: 012*/
  body>figure:first-of-type{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  /*Especificidad: 012*/
  body>figure:last-of-type{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }