/*Especificidad: 001*/
body {
    font-family: Georgia, serif;
    color: #000000;
    background-color: rgb(247, 225, 225);
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 1.2em;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    }

  header{
    padding: 2.5em;
    background-color: antiquewhite;
    text-align: center;
  }
  /*Especificidad: 001*/
  h1 {
    color: rgb(16, 43, 51);
    font-size: 2.5em;
    }

  p{
    color: rgb(75, 6, 6);
    font-size: 2em;
    font-style: italic;
  }
  
  /*Encuesta*/
  form{
    padding: 3.75em;
    background-color: #E7E7E7;
    text-align: center;
  }
  
  form input,  form textarea {
    margin-bottom: 0.9375em;
    font-family: "Roboto", sans-serif;
    padding: 0.625em;
    box-sizing: border-box; 
    color: rgb(32, 11, 11); 
    font-size: 0.8em;
    resize: horizontal;
  }

  form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(44, 2, 2);
    font-size: 1em;
  }

  img{
    width: 25%;
    height: auto;
  }

  footer p{
    text-align: center;
    color:black;
    font-size: 1.3em;
  }

  body>header{
    grid-column: 1/4;
    grid-row: 1;
    padding: 2.5em;
    background-color: antiquewhite;
    text-align: center;
  }

  body>nav{
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    background-color: aliceblue;
    padding: 2.5em;
  }

  body>form{
    grid-column: 2/3;
    grid-row: 3;
  }

  body>figure:first-of-type{
    grid-column: 2/4;
    grid-row: 3;
  }

  body>figure:last-of-type{
    grid-column: 2/3;
    grid-row: 4;
  }

  body>footer{
    grid-column: 1/4;
    grid-row: 5;
  }
  
  img{
    width: 100%;
    height: auto;
  }