  /*Especificidad: 001*/
  h1 {
    color: rgb(16, 43, 51);
    font-size: 2.5em;
    }

  /*Especificidad: 001*/
  p{
    color: rgb(75, 6, 6);
    font-size: 2em;
    font-style: italic;
  }
  
  /*Encuesta*/
  /*Especificidad: 001*/
  form{
    padding: 3.75em;
    background-color: #E7E7E7;
    text-align: center;
  }
  
  /*Especificidad: 002*/
  form input,  form textarea {
    margin-bottom: 0.9375em;
    font-family: "Roboto", sans-serif;
    padding: 0.625em;
    box-sizing: border-box; 
    color: rgb(32, 11, 11); 
    font-size: 0.8em;
    resize: horizontal;
  }

  /*Especificidad: 001*/
  form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(44, 2, 2);
    font-size: 1em;
  }

  /*Especificidad: 002*/
  body>form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  /*Especificidad: 002*/
  body>footer{
    grid-row-start: 4;
    grid-row-end: 4;
  }