body {
	background: #E8CBC0;
	color: #FFF;
	font-family: Calibri, Arial, sans-serif;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

header{
	color:rgb(5, 11, 85);
}

body>header{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

body>form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(10, auto);
    background-color: rgb(19, 14, 14);
    border-radius: 2em;
}

body>form>:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(167, 212, 218);
}
body>form>input{
    font-size: 1.5em;
    padding: 0.3em;
    margin: 0.5em;
    border-radius: 1.2em;
}

body>form>:nth-child(2){
    color:rgb(255, 255, 255);
    background-color: rgb(66, 76, 87);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

body>form>:nth-child(3){
    color:rgb(255, 255, 255);
    background-color: rgb(66, 76, 87);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

body>form>:nth-child(4){
    color:rgb(255, 255, 255);
    background-color: rgb(66, 76, 87);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

body>form>:nth-child(5){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

body>form>:nth-child(6){
    background-color: rgb(152, 162, 180);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

body>form>:nth-child(7){
    background-color: rgb(152, 162, 180);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

body>form>:nth-child(8){
    background-color: rgb(152, 162, 180);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

body>form>:nth-child(9){
    background-color: rgb(152, 162, 180);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

body>form>:nth-child(10){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}

body>form>:nth-child(11){
    background-color: rgb(152, 162, 180);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

body>form>:nth-child(12){
    background-color: rgb(152, 162, 180);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

body>form>:nth-child(13){
    background-color: rgb(152, 162, 180);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

body>form>:nth-child(14){
    background-color: rgb(152, 162, 180);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
}

body>form>:nth-child(15){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

body>form>:nth-child(16){
    background-color: rgb(152, 162, 180);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

body>form>:nth-child(17){
    background-color: rgb(94, 126, 185);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

body>form>:nth-child(18){
    background-color: rgb(94, 126, 185);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

body>form>:nth-child(19){
    background-color: rgb(240, 121, 121);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
}

body>form>:nth-child(20){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
}

body>form>:nth-child(21){
    background-color: rgb(192, 238, 219);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
}

body>form>:nth-child(22){
    background-color: rgb(192, 238, 219);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
}

body>form>:nth-child(23){
    background-color: rgb(192, 238, 219);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
}

body>form>:nth-child(24){
    background-color: rgb(240, 121, 121);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
}

body>form>:nth-child(25){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 8;
}

body>form>:nth-child(26){
    background-color: rgb(192, 238, 219);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 8;
}

body>form>:nth-child(27){
    background-color: rgb(192, 238, 219);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 8;
}

body>form>:nth-child(28){
    background-color: rgb(192, 238, 219);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 8;
}

body>form>:nth-child(29){
    background-color: rgb(240, 121, 121);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
}

body>form>:nth-child(30){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 9;
}

body>form>:nth-child(31){
    background-color: rgb(192, 238, 219);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9;
}

body>form>:nth-child(32){
    background-color: rgb(192, 238, 219);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 9;
}

body>form>:nth-child(33){
    background-color: rgb(192, 238, 219);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 9;
}

body>form>:nth-child(34){
    background-color: rgb(240, 121, 121);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
}

body>form>:nth-child(35){
    background-color: rgb(152, 162, 180);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 10;
}

body>form>:nth-child(36){
    background-color: rgb(192, 238, 219);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 10;
}

body>form>:nth-child(37){
    background-color: rgb(192, 238, 219);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 10;
}

body>form>:nth-child(38){
    background-color: rgb(192, 238, 219);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 10;
}

body>form>:nth-child(39){
    background-color: rgb(243, 21, 76);
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 10;
}