  /*Especificidad: 001*/
  body {
    font-family: Georgia, serif;
    color: #000000;
    background-color: rgb(255, 255, 255);
    }
  /*Especificidad: 001*/
  h1{
      color:#3a0303
  }
  /*Especificidad: 001*/
  h2 {
    color: rgb(22, 3, 51);  
    }
   /*Especificidad: 001*/
  h3 {
    color: rgb(19, 39, 3); 
    }
  /*Especificidad: 001*/
  h4{
      color:rgb(29, 4, 34)
  }
  /*Especificidad: 001*/
  p{
    color:rgb(6, 27, 46)
}
